.header
%p
  %a{:href => "https://yonasato.com/ec/craft_beer_type/"}
    .logo

.main
  .ue
    .title
    %p
      %a{:href => "https://yonasato.com/ec/craft_beer_type/"}
        %img{:alt => "", :height => "45", :width => "45", :src => "https://publicdomainq.net/images/201908/28s/publicdomainq-0037768.jpg"}
    .name
      %li
      %li
      %li
      %li
  .naka
    .name 
      %li
      %li
      %li
      %li
    .title 焼酎
  .shita
    .title　その他

